body{
    background: url(./image.jpg);
}
/* this is for navigation */
.main-nav {
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%
}
.nav-list{
    color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}   
.logo{
    color: rgb(218, 78, 78);
    font-size: 30px;
    text-decoration:line-through
    font-weight: 900;
    padding-right: 15rem;
}

li {
    list-style-type: none;
}
.header-one {
  font-size: 3rem;
  flex-direction: row;
  color: antiquewhite;
}
.first-parent {
      display: flex;
      flex-direction: row;
       padding: 5px;
       color: red;
}
.flower{
    max-width: 500px;
    border-radius: 50%;
    margin: 60px;
}
.first-child{
    margin: 50px;
}
.btn {
    background-color: tomato;
    color:white;
    padding: 5px 25px;
}

        